{% extends "base.html" %}
{% block title %}Password reset successful{% endblock %}

    {% block content %}
        <section class="container pass-done password-recover content-section text-center">
            <div class="row">
            <div class="col-lg-6 col-lg-offset-3">

                <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
                <p>You should be receiving it shortly.</p>

            </div>
            </div>
        </section>
    {% endblock %}