{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
    <section class="container login content-section animated slideInDown">
        <div class="row col-lg-offset-2">
            <div class="col-lg-4">

                {% if next %}
                  <form role="form" method="post" action="{% url 'login' %}?next={{ next }}">
                {% else %}
                  <form role="form" method="post" action="{% url 'login' %}">
                {% endif %}

                      <h3>Login</h3>
                        {% csrf_token %}
                        {{ form | as_bootstrap }}
                    <p><a href="{% url 'password_reset' %}">Forgotten password?</a></p>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary">Login</button>
                      </div>
                  </form>
            </div>
          <div class="col-lg-4">

              <h3>Registered Users get great deals!<span class="glyphicon glyphicon-tags"></span></h3>
                    <h4>If you are not Registerd yet... </h4>
                    <h5><i class="fa fa-users" aria-hidden="true"></i>  <a href="{% url 'register' %}">   Join us now!</a></h5>
            </div>
        </div>
    </section>
{% endblock %}