{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
    <section class="container register content-section animated slideInDown">
        <div class="row">
            <div class="form col-lg-6 col-lg-offset-3">


                <form role="form" method="post" action="{% url 'register' %}">
                    <legend>Create a new account</legend>
                        {% csrf_token %}
                        {{ form | as_bootstrap }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create account</button>
                    </div>
                </form>


            </div>
        </div>
    </section>
{% endblock %}